body{
    background-color: black;
}
.cabecera{
    background-color: black;
    text-align: center;
    border: solid 2px ;
    border-color: black;
    border-radius: 15px;
}
.titulo{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    padding: 10px;
}
.menubotonera{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:black ;
    border-end-end-radius: 15px ;
    border-end-start-radius: 15px;
}
.enlacemenu{
    font-size: medium;
    margin: 10px;
    padding: 10px;
    
}

.enlaceboton{
    color: white;
}
.piedepagina{
    background-color: black;
    text-align: center;
    padding: 30px;
    border: solid 2px ;
    border-color: black; 
    color: white;
}
.titulopagina{
    text-align: left;
    color:white ;
    background-color: black;
}
.textopresenta{
    text-align: center;
    color: white;
    font-size: 20px;

}
.imgbox{
    width: 30%;
    height: 30%;
}
.boxpresenaciones{
    width: 70%;
}
.box1{
    background-color: black;
    display: flex;
    margin: 30px;
    border: 3px, solid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    padding: 10px;
    color: white;
}
.box2{
    background-color:black;
    display: flex;
    margin: 30px;
    border: 3px, solid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    padding: 10px;
    color: white;
}
.parrafobox{
    margin: 30px;
}